<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
			layout:decorate="layout">
<head>
    <title>Task Manager</title>
</head>
<body>
	<div layout:fragment="content" class="container col-10" style="float:left">
		<div class="container col-12" style="float:left">
			<h2>タスク管理</h2>
			<div class="box">
				<div>
					<label>言語：</label>
					<a th:href="@{/task(langId=0)}" th:text="選択なし" 
								class="btn btn-outline-success"  name="id" th:value="0"/>
					<span th:each="language: ${languageList}">
						<a th:href="@{/task(langId=${language.id})}" th:text="${language.language}" 
								class="btn btn-outline-success"  name="id" th:value="${language.id}" id="languageId"/>
					</span>
				</div>
				<p></p>
				<table class="table table-striped table-bordered table-condensed">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#task-modal"
					   	data-type='register'>
		        			新規作成
		        	</button>
		        	<thead>
			        	<tr>
			                <th>ID</th>
			                <th>概要</th>
			                <th>システム名</th>
			                <th>featureID</th>
			                <th>言語</th>
			                <th>開始日</th>
			                <th>完了日</th>
			                <th colspan="2">編集</th>
			            </tr>
		        	</thead>
		        	<tbody>
			            <tr th:each="task : ${taskList}">
			                <td th:text="${task.id}"/></td>
			                <td><a th:href="@{/task/} + ${task.id}" th:text="${task.overview}"></td>
			                <td th:text="${task.system.systemName}"></td>
			                <td th:text="${task.featureNumber}"></td>
			                <td th:text="${task.system.language.language}"></td>
			                <td th:text="${task.startDate}"></td>
			                <td th:text="${task.endDate == null} ? '-' : ${task.endDate}"></td>
			                <td>
			                	<th:block th:if="${task.endDate == null}">
				                	<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#task-modal"
				                		id="edit-button" th:data-id="${task.id}" data-type='edit'>
				        				編集
				        			</button>
			                	</th:block>
			                </td>
			                <td>
			                	<th:block th:if="${task.endDate == null}">
				                	<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#task-modal" 
				                		th:data-id="${task.id}" data-type='delete'>
				        				削除
				        			</button>
			                	</th:block>
			                </td>
			            </tr>
		        	</tbody>
		        </table>
			</div>
			<p hidden th:text="${formType}" id="formType"></p>
			<p hidden th:text="${form}" id="sendId"></p>
	        <p hidden th:text="${error}" id="error"></p>
	        <div th:include="/modal/task/task :: taskmodal"></div>
		</div>
	</div>
	
	<div layout:fragment="javascript">
	 	<script th:src="@{/js/task.js}"></script>
	</div>
</body>
</html>