<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
			layout:decorate="layout">
<head>
    <title>Task Manager</title>
</head>
<body>
	<div layout:fragment="content" class="container col-10" style="float:left">
		<div class="container col-12" style="float:left">
			<legend>【Task】 [[${task.overview}]] </legend>
			<div class="box">
				<div class="container col-6 task-contents box">
			    	<table class="table table-bordered">
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#task-modal"
						                th:data-id="${task.id}" data-type='update'>
						        	Update
						</button>
			    		<tr>
			    			<th class="table-info">id</th>
			    			<td th:text="${task.id}"></td>
			    		</tr>
			    		<tr>
			    			<th class="table-info">System</th>
			    			<td><a th:href="@{/system/} + ${task.systemId}" th:text="${task.system.name}"/></td>
			    		</tr>
			    		<tr>
			    			<th class="table-info">Language</th>
			    			<td th:text="${task.system.language.name}"></td>
			    		</tr>
			    		<tr>
			    			<th class="table-info">Start date</th>
			    			<td th:text="${task.startDate}"></td>
			    		</tr>
			    		<tr>
			    			<th class="table-info">End date</th>
			    			<td th:text="${task.endDate == null} ? '-' : ${task.endDate}"></td>
			    		</tr>
			    		<tr>
			    			<th class="table-info">Report</th>
			    			<td th:text="${task.report == null} ? '-' : ${task.report}"></td>
			    		</tr>
			    	</table>
				</div>
				<div class="container col-6 task-contents box">
					<legend>Document</legend>
					<table class="table table-bordered">
						<tr>
							<th class="col-1 table-info">Purpose</th>
							<td class="col-4" th:text="${document == null} ? '-' : ${document.purpose}"></td>
						</tr>
						<tr>
							<th class="table-info">Function</th>
							<td th:text="${document == null} ? '-' : ${document.function}"></td>
						</tr>
						<tr>
							<th class="table-info">Item</th>
							<td th:text="${document == null} ? '-' : ${document.item}"></td>
						</tr>
						<tr>
							<th class="table-info">Period</th>
							<td th:text="${document == null} ? '-' : ${document.period}"></td>
						</tr>
					</table>
					<button type="button" class="btn btn-primary" style="float:right" data-bs-toggle="modal" data-bs-target="#task-document-modal"
						                	th:data-id="${document == null} ? 'null' : ${document.id}" th:data-task-id="${task.id}"
						                	th:data-type="${document == null}? 'create': 'update'"
						                	th:text="${document == null}? 'Create': 'Update'">
					</button>
				</div>
			</div>
	        <div th:include="/modal/task/task :: task-modal"></div>
	        <div th:include="/modal/task/document :: task-document-modal"></div>
		</div>
	</div>
	<div layout:fragment="javascript">
	</div>
</body>
</html>