<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
			layout:decorate="layout">
<head>
    <title>Task Manager</title>
</head>
<body>
	<div layout:fragment="content" class="container col-10" style="float:left">
		<div class="container col-12" style="float:left">
			<legend>【System】 [[${system.name}]] </legend>
			<div class="box">
				<div class="container col-6 task-contents box">
		    		<table class="table table-bordered">
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#system-modal"
						             th:data-id="${system.id}" data-type='update'>
						      Update
						</button>
			    		<tr>
			    			<th class="table-info">Id</th>
			    			<td th:text="${system.id}"></td>
			    		</tr>
			    		<tr>
			    			<th class="table-info">Language</th>
			    			<td th:text="${system.language.name}"></td>
			    		</tr>
			    		<tr>
			    			<th class="table-info">Start date</th>
			    			<td th:text="${system.startDate}"></td>
			    		</tr>
			    		<tr>
			    			<th class="table-info">End date</th>
			    			<td th:text="${system.endDate == null} ? '-' : ${system.endDate}"></td>
			    		</tr>
			    	</table>
			    	<table class="table table-striped table-bordered table-condensed">
			    		<legend>Related task</legend>
			    		<thead>
				        	<tr>
				                <th>Id</th>
				                <th>Overview</th>
				                <th>Start date</th>
				                <th>End date</th>
				            </tr>
			            </thead>
			            <tbody>
				            <tr th:each="task : ${taskList}">
				                <td th:text="${task.id}"></td>
				                <td><a th:href="@{/task/} + ${task.id}" th:text="${task.overview}"></td>
				                <td th:text="${task.startDate}"></td>
				                <td th:text="${task.endDate == null} ? '-' : ${task.endDate}"></td>
				            </tr>
			            </tbody>
			    	</table>
				</div>
	    		<div class="container col-6 task-contents box">
					<legend>Document</legend>
					<table class="table table-bordered">
						<tr>
							<th class="col-1 table-info">Overview</th>
							<td class="col-4" th:text="${document == null} ? '-' : ${document.overview}"></td>
						</tr>
						<tr>
							<th class="table-info">Purpose</th>
							<td th:text="${document == null} ? '-' : ${document.purpose}"></td>
						</tr>
						<tr>
							<th class="table-info">Function</th>
							<td th:text="${document == null} ? '-' : ${document.function}"></td>
						</tr>
						<tr>
							<th class="table-info">Period</th>
							<td th:text="${document == null} ? '-' : ${document.period}"></td>
						</tr>
					</table>
					<button type="button" class="btn btn-primary" style="float:right" data-bs-toggle="modal" data-bs-target="#system-document-modal"
						                	th:data-id="${document == null} ? 'null' : ${document.id}" th:data-system-id="${system.id}"
						                	th:data-type="${document == null}? 'create': 'update'"
						                	th:text="${document == null}? 'Create': 'Update'">
					</button>
				</div>
			</div>
	        <div th:include="/modal/system/system :: system-modal"></div>
	        <div th:include="/modal/system/document :: system-document-modal"></div>
		</div>
	</div>
</body>
</html>