 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Task Manager</title>
</head>
<body>
 
 <!-- modal registar -->
 <div th:fragment="languagemodal" id="languagemodal">
        <div class="modal fade" id="language-modal" tabindex="-1">
        	<div class="modal-dialog">
        		<div class="modal-content">
        			<form th:action="@{/language/create}" method="get" th:object="${languageForm}" class="form-horizontal"
        				id="language-form">
        				 <fieldset>
				            <div class="form-group">
				            	<div class="modal-header">
			        				<h5 class="modal-title" id="modal-title">title</h5>
			        				<button type="button" class="btn-close" data-bs-dismiss="modal" area-label="Close"></button>
			        			</div>
			        			<div class="modal-body">
			        				<span th:if="${error} != null" id="errorMessage" style="color:red">※入力値エラーが発生しました</span>
			        				<div>
						                <label class="col-sm-2 control-label">言語名</label>
						                <div class="col-sm-4">
						                	<input type="text" class="form-control" id="language" name="language" th:field="*{language}"/>
						                </div>
						            </div>
			        			</div>
					            <div class="modal-footer">
					            	<button type="submit" class="btn btn-primary" id="create-button" name="create-button">OK</button>
									<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
								</div>
				            </div>
        				 </fieldset>
        			</form>
        		</div>
        	</div>
        </div>
 </div>
</body>
</html>