*{
  margin:0;
  padding:0;
}

body{
	background-color: rgba(143, 188, 143, 0.1);
}
		
header{
	background-color: rgba(89, 101, 120, 0.4);
}
		
ul{
	margin:0;
  	padding:0;
	list-style-type: none;
}

li{
	margin-left: 5px;
}

a{
	text-decoration:none;
}

.side-menu a {
	color: green;
}
		
.menu{
	background-color: rgba(89, 101, 120, 0.7);
}
		
.side-menu{
	margin-right: 0;
	padding-right:0;
	background-color: rgba(143, 188, 143, 0.7);
}

.box{
	margin:0;
  	padding:0;
	background-color:white; 
}

.task-contents{
	float: left;
}

.side-menu table{
	width: 100%;
	margin-right: 0;
	padding-right:0;
}

.side-menu hr{
	height: 2px;
	margin: 0;
	padding:0;
	background-color: white;
	color:white;
	border: none;
}

.side-menu td{
	margin-right: 0;
	padding-right:0;
}

.main-content{
	margin-right:0;
  	padding-right:0;
}
	


