/***
* Element
*
*/



/*body*/
body{
	font-family: 'Poppins', sans-serif;
	background-color: rgba(143, 188, 143, 0.1);
}

/*header*/
header{
	padding-left: 10px;
	background-color: rgba(89, 101, 120, 1);
	font-family: 'Playfair Display', serif;
}

header a:link, a:visited, a:hover, a:active{
	color: white;
}

header .config-menu{
	color: white;
	margin: 20px 0 0 0;
	padding-left: 250px;
}

/*footer*/
footer{
	background-color: rgba(89, 101, 120, 0.8);
	width: 100%;
	position: absolute;
    bottom: 0; 
    border-top: solid;
    border-color: rgba(255, 255, 255, 0.4);
    border-width:thin;
}

footer legend{
	margin:10px 0;
	color:white;
	text-align: center;
	width: 100%;
}

/*ul*/
ul{
	list-style-type: none;
}

/*a*/
a{
	text-decoration:none;
}

/*h*/
h2{
	margin: 10px 0;
}



/***
* class attribute
*
*/




/*h*/
.h1{
	margin: 10px auto;
}

/*menu*/
.menu{
	background-color: rgba(89, 101, 120, 0.7);
	border-bottom: solid;
	border-color: rgba(89, 101, 120, 0.4);
}

.menu a{
	color: white;
}

.menu li:hover {
	background-color: rgba(89, 101, 120, 0.85)
}

.menu .li:hover {
	background-color: rgba(89, 101, 120, 1)
}

.menu .secMenuList{
	float:  left;
	padding: 15px;
	margin: 0px;
}

.menu .section{
	padding: 0;
	margin: 0;
}

.menu .li{
	padding: 15px;
	margin: 5px 0;
	text-align: center;
}


.menu-text{
	width: 40%;
	margin: auto;
}

/*side menu*/
.side-menu{
	background-color: rgba(143, 188, 143, 0.7);
	border-right: solid;
	border-bottom: solid;
	border-color: rgba(89, 101, 120, 0.7);
}

.side-menu td{
	cursor: pointer;
	padding: 15px 0 ;
}

.side-menu ul{
	margin: 0;
	padding: 0;
}

.side-menu li{
	padding: 8px 0 0 40px;
}


.side-menu hr{
	height: 2px;
	margin: 8px 0px;
	background-color: white;
	color:white;
	border: none;
}

.side-menu span{
	margin-left: 20px;
}

.side-menu a {
	color: green;
}

.side-menu a:hover {
	color: white;
}

.side-menu .menu-title{
	color: green;
	cursor: default;
}

/*box*/
.box{
	background-color:white; 
	margin: 0;
	padding-top: 15px;
	padding-bottom: 5px;
	border: solid;
	border-color: rgba(143, 188, 143, 0.5);
	border-radius: 5px;
}

.box a {
	color: green;
}

.box a:hover {
	color: white;
}


.box .btn-primary{
	margin-bottom: 5px;
	margin-top: 5px;
}

.box .filter{
	padding: 5px 0;
}

/*show box*/
.show-box .task-contents{
	float: left;
}

.show-box button{
	margin-bottom: 5px;
}
