 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Task Manager</title>
</head>
<body>
 
 <!-- modal registar -->
 <div th:fragment="taskmodal" id="taskmodal">
        <div class="modal fade" id="task-modal" tabindex="-1">
        	<div class="modal-dialog">
        		<div class="modal-content">
        			<form th:action="@{/edit}" method="get" th:object="${taskForm}" class="form-horizontal"
        				id="task-form">
        				 <fieldset>
				            <div class="form-group">
				            	<div class="modal-header">
			        				<h5 class="modal-title" id="modal-title">title</h5>
			        				<button type="button" class="btn-close" data-bs-dismiss="modal" area-label="Close"></button>
			        			</div>
			        			<div class="modal-body">
						                <label for="systemId" class="col-sm-2 control-label">システム名</label>
						                <div class="col-sm-4">
						                	<th:block th:each="system, index: ${systemList}">
						                		<p th:if="${index.index.equals(task.systemId-1)}" th:text="${system.systemName}"></p>
						                	</th:block>
						                </div>
			        				<div>						                
							        	<label class="col-sm-2 control-label">featureID</label>
						                <div class="col-sm-4">
							                <p id="featureNumberText"></p>
						                </div>
			        				</div>
			        				<div>
			        					<label class="col-sm-2 control-label">概要</label>
			        					<div class="col-sm-12">
							                <p id="overviewText"></p>
						                </div>
			        				</div>
			        				<div>
			        					<label for="start_date" class="col-sm-2 control-label">開始日</label>
						                <div class="col-sm-4">
						                    <p id="startDateText"></p>
						                </div>
			        				</div>
			        				<div>
			        					<label for="end_date" class="col-sm-2 control-label">完了日</label>
						                <div class="col-sm-4">
						                    <input type="date" id="endDate" name="endDate" th:field="*{endDate}"
						                           class="form-control"/>
						                </div>
			        				</div>
			        				<div>
			        					<label class="col-sm-2 control-label">コメント</label>
			        					<div class="col-sm-12">
							                <input type="text" id="report" name="report" th:field="*{report}"
			                           				class="form-control">
						                </div>
			        				</div>
			        			</div>
					            <div class="modal-footer">
					            	<button type="submit" class="btn btn-primary" id="create-button" name="create-button">OK</button>
									<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
								</div>
				            </div>
        				 </fieldset>
        				 <input type="hidden" value="" id="taskId" name="taskId" th:field="*{taskId}"/>
        				 <input type="hidden" value="" id="systemId" name="systemId" th:field="*{systemId}"/>
        				 <input type="hidden" value="" id="featureNumber" name="featureNumber" th:feild="*{featureNumber}"/>
        				 <input type="hidden" value="" id="overview" name="overview" th:field="*{overview}"/>
        				 <input type="hidden" value="" id="startDate" name="startDate" th:field="*{startDate}"/>
        			</form>
        		</div>
        	</div>
        </div>
 </div>
</body>
</html>