 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Task Manager</title>
</head>
<body>
 
 <!-- modal registar -->
 <div th:fragment="systemdocumentmodal" id="systemdocumentmodal">
        <div class="modal fade" id="system-document-modal" tabindex="-1">
        	<div class="modal-dialog">
        		<div class="modal-content">
        			<form th:action="@{document/edit}" method="get" th:object="${systemDocumentForm}" class="form-horizontal"
        				id="system-document-form">
        				 <fieldset>
				            <div class="form-group">
				            	<div class="modal-header">
			        				<h5 class="modal-title">ドキュメント登録</h5>
			        				<button type="button" class="btn-close" data-bs-dismiss="modal" area-label="Close"></button>
			        			</div>
			        			<div class="modal-body">
			        				<span th:if="${docError} != null" id="docErrorMessage" style="color:red">※入力値エラーが発生しました</span>
			        				<div>						                
							        	<label class="col-sm-4 control-label">システム概要</label>
						                <div class="col-sm-12">
							                <input id="overview" type="text" name="overview" th:field="*{overview}"
			                           				class="form-control">
						                </div>
			        				</div>
			        				<div>
			        					<label class="col-sm-2 control-label">開発目的</label>
						                <div class="col-sm-12">
							                <textarea id="purpose" name="purpose" cols="30" rows="8" th:field="*{purpose}" class="form-control"></textarea>
						                </div>
			        				</div>
			        				<div>
			        					<label class="col-sm-2 control-label">機能</label>
						                <div class="col-sm-12">
							                <textarea id="function" name="function" cols="30" rows="8"
			                           				class="form-control"></textarea>
						                </div>
			        				</div>
			        				<div>
			        					<label class="col-sm-2 control-label">開発期間</label>
						                <div class="col-sm-12">
							                <input id="period" type="text"  name="period" th:field="*{period}"
			                           				class="form-control">
						                </div>
			        				</div>
			        			</div>
					            <div class="modal-footer">
					            	<button type="submit" class="btn btn-primary" id="create-button-document" name="create-button">OK</button>
									<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
								</div>
				            </div>
				            <input hidden type="int" th:value="${system.id}" name="systemId" th:field="*{systemId}"/>
				            <input hidden type="int" th:if="${document != null}"th:value="${document.id}" name="documentId" th:field="*{documentId}"/>
        				 </fieldset>
        			</form>
        		</div>
        	</div>
        </div>
 </div>
</body>
</html>