 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Task Manager</title>
</head>
<body>
 
 <!-- modal registar -->
 <div th:fragment="systemmodal" id="systemmodal">
        <div class="modal fade" id="system-modal" tabindex="-1">
        	<div class="modal-dialog">
        		<div class="modal-content">
        			<form th:action="@{/system/create}" method="get" th:object="${systemForm}" class="form-horizontal"
        				id="system-form">
        				 <fieldset>
				            <div class="form-group">
				            	<div class="modal-header">
			        				<h5 class="modal-title" id="modal-title">title</h5>
			        				<button type="button" class="btn-close" data-bs-dismiss="modal" area-label="Close"></button>
			        			</div>
			        			<div class="modal-body">
			        				<span th:if="${error} != null" id="errorMessage" style="color:red">※入力値エラーが発生しました</span>
			        				<div>
						                <label for="systemId" class="col-sm-2 control-label">システム名</label>
						                <div class="col-sm-4">
						                	<input type="text" class="form-control" id="systemName" name="systemName" th:field="*{systemName}"/>
						                </div>
						            </div>
			        				<div>						                
							        	<label class="col-sm-2 control-label">言語</label>
						                <div class="col-sm-4">
							                <select  class="form-control" id="languageId" name="languageId" th:field="*{languageId}">
						                		<option th:value="0" th:text="選択してください"></option>
						                		<option th:each="language: ${languageList}" th:value="${language.id}" th:text="${language.language}"></option>
						                	</select>
						                </div>
			        				</div>
			        				<div>
			        					<label for="start_date" class="col-sm-2 control-label">開始日</label>
						                <div class="col-sm-4">
						                    <input type="date" id="startDate" name="startDate" th:field="*{startDate}"
						                           class="form-control"/>
						                </div>
			        				</div>
			        			</div>
					            <div class="modal-footer">
					            	<button type="submit" class="btn btn-primary" id="create-button" name="create-button">OK</button>
									<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
								</div>
				            </div>
        				 </fieldset>
        				 <input type="hidden" value="" id="systemId" th:field="*{systemId}"/>
        			</form>
        		</div>
        	</div>
        </div>
 </div>
</body>
</html>