<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
			layout:decorate="layout">
<head>
    <title>Task Manager</title>
</head>
<body>
	<div layout:fragment="content" class="container col-10" style="float:left">
		<div class="container col-12" style="float:left">
			<h2>【Task】 [[${task.name}]] </h2>
			<div class="show-box">
				<div class="container col-6 task-contents box">
			    	<table class="table table-bordered">
						<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#task-modal"
						                th:data-id="${task.id}" data-type='update'><i class="bi bi-arrow-clockwise"></i>
						        	Update
						</button>
			    		<tr>
			    			<th class="table-success">id</th>
			    			<td th:text="${task.id}"></td>
			    		</tr>
			    		<tr>
			    			<th class="table-success">Target</th>
			    			<td><a th:href="@{/target/} + ${task.targetId}" th:text="${task.target.name}"/></td>
			    		</tr>
			    		<tr>
			    			<th class="table-success">Program</th>
			    			<td th:text="${task.target.programCategory == null}? '-': ${task.target.programCategory.name}"></td>
			    		</tr> 
			    		<tr>
			    			<th class="table-success">Category</th>
			    			<td th:text="${task.taskCategory.name}"></td>
			    		</tr>
			    		<tr>
			    			<th class="table-success">Start date</th>
			    			<td th:text="${task.startDate}"></td>
			    		</tr>
			    		<tr>
			    			<th class="table-success">End date</th>
			    			<td th:text="${task.endDate == null} ? '-' : ${task.endDate}"></td>
			    		</tr>
			    		<tr>
			    			<th class="table-success">Report</th>
			    			<td th:text="${task.report.isBlank()} ? '-' : ${task.report}"></td>
			    		</tr>
			    	</table>
				</div>
				<div class="container col-6 task-contents box">
					<legend>Document</legend>
					<table class="table table-bordered">
						<tr>
							<th class="col-1 table-success">Purpose</th>
							<td class="col-4" th:text="${document == null} ? '-' : ${document.purpose}"></td>
						</tr>
						<tr>
							<th class="table-success">Function</th>
							<td th:text="${document == null} ? '-' : ${document.function}"></td>
						</tr>
						<tr>
							<th class="table-success">Item</th>
							<td th:text="${document == null} ? '-' : ${document.item}"></td>
						</tr>
						<tr>
							<th class="table-success">Period</th>
							<td th:text="${document == null} ? '-' : ${document.period}"></td>
						</tr>
					</table>
					<button type="button" class="btn btn-success" style="float:right" data-bs-toggle="modal" data-bs-target="#task-document-modal"
						                	th:data-id="${document == null} ? 'null' : ${document.id}" th:data-task-id="${task.id}"
						                	th:data-type="${document == null}? 'create': 'update'"><i class="bi bi-arrow-clockwise"></i>
						                	Update
					</button>
				</div>
			</div>
	        <div th:include="/modal/task :: task-modal"></div>
	        <div th:include="/modal/task-document :: task-document-modal"></div>
		</div>
	</div>
</body>
</html>