 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Task Manager</title>
</head>
<body>
 
 <!-- modal registar -->
 <div th:fragment="target-document-modal">
        <div class="modal fade" id="target-document-modal" tabindex="-1">
        	<div class="modal-dialog">
        		<div class="modal-content">
				    <div class="form-group">
				          <div class="modal-header">
			        			<h5 class="modal-title" id="document-modal-title">title</h5>
			        			<button type="button" class="btn-close" data-bs-dismiss="modal" area-label="Close"></button>
			        		</div>
			        		<div class="modal-body">
			        			<div class="row">
			        				<span id="document-errorMessage" style="color:red">error message</span>
			        			</div>
			        			<div class="row">						                
						        	<label class="col-sm-12 control-label">Overview</label>
					                <div class="col-sm-12">
						                <input id="overview" type="text" class="form-control">
					                </div>
		        				</div>
		        				<div class="row">
		        					<label class="col-sm-12 control-label">Purpose</label>
					                <div class="col-sm-12">
						                <textarea id="purpose" cols="30" rows="8" class="form-control"></textarea>
					                </div>
		        				</div>
		        				<div class="row">
		        					<label class="col-sm-12 control-label">Function</label>
					                <div class="col-sm-12">
						                <textarea id="function" cols="30" rows="8" class="form-control"></textarea>
					                </div>
		        				</div>
		        				<div class="row">
		        					<label class="col-sm-12 control-label">Period</label>
					                <div class="col-sm-12">
						                <input id="period" type="text"  class="form-control">
					                </div>
		        				</div>
		        			</div>
				            <div class="modal-footer">
				            	<button type="button" class="btn btn-primary" id="document-form-button">OK</button>
								<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
							</div>
					</div>
        		</div>
        	</div>
        </div>
 </div>
</body>
</html>