 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Task Manager</title>
</head>
<body>
 
 <!-- modal registar -->
 <div th:fragment="target-category-modal">
        <div class="modal fade" id="target-category-modal" tabindex="-1">
        	<div class="modal-dialog">
        		<div class="modal-content">
					<div class="modal-header">
			        	<h5 class="modal-title" id="modal-title">title</h5>
			        	<button type="button" class="btn-close" data-bs-dismiss="modal" area-label="Close"></button>
			        </div>
			        <div class="modal-body">
			        	<div class="row">
			        		<span id="errorMessage" style="color:red">error message</span>
			        	</div>
				        <div class="row">
							<label class="col-sm-12 control-label">Name:</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="name"/>
								<p id="deleteName">delete name</p>
							</div>
						</div>
			       	</div>
			        <div class="modal-footer">
						<button type="button" class="btn btn-primary" id="form-button">OK</button>
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
					</div>
        		</div>
        	</div>
        </div>
 </div>
</body>
</html>