<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head lang="ja">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Layout</title>
</head>
<body>
	<div class="all">
		<header class="row">
			<div class="container">
					<label class="h1 col-10">Task Management</label>
					<span>
						<a href="/" class="col-2" th:text="home"/>
					</span>
			</div>
		</header>
		<div class="row menu">
			<a th:href="@{/}">Calender</a>
		</div>
		
		<div class="row">
			<div class="container col-2 side-menu">
				<table class="table">
					<tr>
						<td id="taskManagementMenu" class="secList">
							<span class="h5">Task Management</span>
							<ul class="taskManagementMenu section">
								<li><a th:href="@{/system}">System</a></li><hr size="1">
								<li><a th:href="@{/task}">Task</a></li><hr size="1">
								<li><a th:href="@{/}">Book</a></li><hr size="1">
								<li><a th:href="@{/}">Qualification</a></li>
							</ul>
						<td>
					</tr>
					<tr>
						<td id="categoryManagementMenu" class="secList"> 
							<span class="h5">Category Management</span>
							<ul class="categoryManagementMenu section">
								<li><a th:href="@{/language}">Language</a></li><hr size="1">
								<li><a th:href="@{/}">System Category</a></li><hr size="1">
								<li><a th:href="@{/}">Task Category</a></li><hr size="1">
								<li><a th:href="@{/}">Book Category</a></li>
							</ul>
						</td>
					</tr>
				</table>
			</div>
			<div layout:fragment="content" class="container main-content col-10">
				Main content
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script >
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<div layout:fragment="javascript"></div >
	<!-- script file -->
	<script th:src="@{/js/home.js}"></script>
	<script th:src="@{/js/language.js}"></script>
	<script th:src="@{/js/system.js}"></script>
	<script th:src="@{/js/task.js}"></script>
</body>
</html>