<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head lang="ja">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Layout</title>
</head>
<body>
<div class="all">
	<header class="row">
		<div class="container">
				<label class="h1 col-10">タスク管理システム</label>
				<span>
					<a href="/" class="col-2" th:text="home"/>
				</span>
		</div>
	</header>
	<div class="row menu">
		<p>menu
	</div>
	
	<div class="row">
		<div class="container col-2 side-menu">
			<ul>
				<li><a th:href="@{/language}" th:text="プログラム言語別"/></li>
				<li><a th:href="@{/system}" th:text="システム開発"/></li>
				<li><a th:href="@{/task}" th:text="タスク管理"/></li>
			</ul>
		</div>
		<div layout:fragment="content" class="container col-10">
			Main content
		</div>
	</div>
</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script >
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<div layout:fragment="javascript">
	</div >
</body>

</html>